/* Navigation Bar */
nav {
  overflow: hidden;
}

ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 10px;
  margin-top: 15px;
}

ul li a {
  text-decoration: none;
  font: 14px Roboto, Arial, sans-serif;
  color: black;
}

ul li a:hover {
  text-decoration: underline;
}

ul li input {
  margin-top: -3px;
}

ul li button {
  padding: 9px 23px;
  margin-top: -8px;
  background: #1a73e8;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
}

ul li button:hover {
  background: #2b7de9;
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Main */
.container {
  text-align: center;
  margin-top: 250px;
}

@media screen and (max-height: 850px) {
  .container {
    margin-top: max(50px, calc(250px - (850px - 100vh)));
  }
}

#logo {
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
}

.sField {
  margin-bottom: 25px;
}

.searchField {
  width: 500px;
  max-width: 80%;
  height: 40px;
  border-width: thin;
  border-color: rgb(212, 212, 212);
  border-radius: 25px;
  border-style: solid;
  text-indent: 40px;
  font-size: 1.2em;
}

.searchField:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.searchLogo {
  position: relative;
  top: 4px;
  left: 40px;
  opacity: 0.4;
  height: 20px;
  width: auto;
}
.searchButton {
  border: 0;
  line-height: 2.5;
  padding: 0px 20px;
  margin: 5px;
  background-color: rgb(247, 247, 247);
  font-family: arial, sans-serif;
  font-size: 14px;
}

.searchButton:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
}
